body  {
    margin: 0;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
}
.enterTasks {
    background-color:  #464f52;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0px;
    margin: auto;
}
.tasklist {
    position: absolute;
    margin-top: 30%;    
    left: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    
}
#newTasks {
    width: 15%;
    font-size: medium;
    margin: 10px;
    transform: translate(-50%, -50%);
    position: absolute;
}
.add {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    background-color: #293133;
    padding: 8px;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
}
.add:hover{
    opacity: 0.8;
}
.fa-trash-alt {
    position: absolute;
    top: 25px;
    right: 15px;
    color: white;
    cursor: pointer;
}
.fa-check-square {
    position: absolute;
    color: white;
    left: 15px;
    top: 25px;
    cursor: pointer;    
}
.hidden {
    visibility: hidden;

}
.fa-circle {
    position: absolute;
    left: 15px;
    top: 25px;
    color: white;
    font-size: 16pt;
    cursor: pointer;
}
.aufgabe{
    position: relative;
    margin: 3px;
    background-color: #293133;
    color: white;
    width: 300px;
    height: 40px;
    list-style: none;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
    word-wrap: break-word;
}
